.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.form-group {
  margin-bottom: 15px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
}

.register-container, .login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* Основные стили */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Стили для Snackbar с ошибкой */
.error-snackbar {
  background-color: #f44336; /* Красный цвет */
  color: white;
}

/* Стили для информационного Snackbar */
.info-snackbar {
  background-color: #2196f3; /* Синий цвет */
  color: white;
}



/* Стили для хедера */
header {
  background-color: #4CAF50; /* Зеленый цвет */
  color: white;
  padding: 10px 0;
}




.navbar {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
  .navbar-menu a.active {
    font-weight: bold; /* Жирный текст */
    border-bottom: 2px solid #FFD700; /* Золотая линия под ссылкой */
    color: #FFD700; /* Золотой цвет */
  }

  .navbar-menu li {
    display: inline;
  }

  .navbar-menu a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s ease;
  }

    .navbar-menu a:hover {
      color: #FFD700; /* Золотой цвет при наведении */
    }

.mat-snack-bar-container {
    background-color: #4CAF50;
    color: white;
}

.mat-snack-bar-action {
    color: #FFD700;
}




/* Стили для футера */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

  footer p {
    margin: 0;
    font-size: 14px;
  }
