<header>
  <nav class="navbar">
    <ul class="navbar-menu">
      <li>
        <a routerLink="/rating" routerLinkActive="active">Рейтинг</a>
      </li>
      <li>
        <a routerLink="/search" routerLinkActive="active">Поиск</a>
      </li>
      <li>
        <a routerLink="/todos" routerLinkActive="active">Дела</a>
      </li>

      <ng-container *ngIf="!currentUser">
        <li>
          <a routerLink="/register" routerLinkActive="active">Регистрация</a>
        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active">Вход</a>
        </li>
      </ng-container>

      <ng-container *ngIf="currentUser">
        <li class="user-block">
          <span class="user-info">Привет, {{ currentUser.FirstName }}!</span>
          <button (click)="logout()">Выйти</button>
        </li>
      </ng-container>
    </ul>
  </nav>
</header>
