
<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>


<div class="todo-container">
  <div class="todo-header">My To-Do List</div>
  <!--<img src="assets/images/logo.png" alt="My Todo App Logo" class="logo" />-->
  <!-- Форма для добавления задачи -->
  <div class="todo-input-container">
    <label for="newTodo" class="todo-label">Add a new task:</label>
    <input id="newTodo" type="text" [(ngModel)]="newTodoTitle" placeholder="Enter task..." />
    <button (click)="addTodo()" class="todo-button">Add</button>
  </div>

  <!-- Кнопка поиска -->
  <button (click)="toggleSearch()" class="search-toggle-button">
    {{ searchActive ? 'Cancel Search' : 'Search' }}
  </button>

  <!-- Поле для поиска задач -->
  <div *ngIf="searchActive" class="search-container">
    <label for="searchInput" class="todo-label">Search tasks:</label>
    <input id="searchInput" type="text" [(ngModel)]="filterText" placeholder="Search tasks..." />
  </div>

  <!-- Список задач -->
  <div *ngFor="let todo of filteredTodoItems" class="todo-item">
    <div *ngIf="todo.isEditing; else displayMode">
      <label for="editTodo" class="todo-label">Edit task:</label>
      <input id="editTodo" [(ngModel)]="todo.title" />
      <button (click)="saveTodoItem(todo)" class="todo-button">Save</button>
      <button (click)="cancelEdit(todo)" class="cancel-button">Cancel</button>
    </div>

    <!-- Режим отображения задачи -->
    <ng-template #displayMode>
      <span [class.completed]="todo.isCompleted" class="todo-title">{{ todo.title }}</span>
      <input type="checkbox" [(ngModel)]="todo.isCompleted" (change)="updateTodoCompletion(todo)" />
      <button class="edit-btn" (click)="editTodoItem(todo)">Edit</button>
      <label>{{ todo.id! }}</label>
      <button class="delete-btn" (click)="deleteTodoItem(todo.id!)">Delete</button>
    </ng-template>
  </div>
</div>


